@page
@model RedSheetApp1.Pages.Questions.DetailsModel

@{
	ViewData["Title"] = "問題の詳細";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-page="/Index">ホーム</a></li>
		<li class="breadcrumb-item active" aria-current="page">問題の詳細</li>
	</ol>
</nav>

<h1>問題の詳細</h1>

<div>
	<div class="row">
		<div class="col-md-5 col-sm-12">
			<h4>@Html.DisplayFor(modelItem => modelItem.Question.Title)</h4>
		</div>
		<div class="offset-md-1 col-md-6 col-sm-12 btn-group">
			<a asp-page="./RedSheet" asp-route-id="@Model.Question.QuestionID" class="btn btn-danger">Red Sheet!</a>
			<a asp-page="./QA" asp-route-id="@Model.Question.QuestionID" class="btn btn-info">一問一答に挑戦</a>
		</div>
	</div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			進行度
		</dt>
		<dd class="col-sm-8">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: @($"{Model.Progress}%");"
					 aria-valuenow="@(Model.Progress)" aria-valuemin="0" aria-valuemax="100">
					@($"{Model.Progress}%")
				</div>
			</div>
		</dd>
		<dd class="col-sm-2">
			<div>
				<a asp-page="./Reset" asp-route-id="@Model.Question.QuestionID" class="btn-link inline-link">リセット</a>
			</div>
		</dd>
		<dt class="col-sm-2">
			作成日
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Question.CreateDate)
		</dd>
		<dt class="col-sm-2">
			更新日
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Question.UpdateDate)
		</dd>
		<dt class="col-sm-2">
			内容
		</dt>
		<dd class="col-sm-10">
			@Html.Raw(Model.QString)
		</dd>
		<dt class="col-sm-2"></dt>
		<dd class="col-sm-10">
			<a asp-page="./Edit" asp-route-id="@Model.Question.QuestionID" class="btn btn-outline-success">編集</a>
			<a asp-page="./Delete" asp-route-id="@Model.Question.QuestionID" class="btn btn-outline-danger">削除</a>
		</dd>
	</dl>
</div>

<script>
	$(document).on("click", ".keyword", function (e) {
		const option = $(this).parent().children(".redsheet-option");
		option.css("display", option.css("display") == "none" ? "block" : "none");
	});
</script>