@page
@model RedSheetApp1.Pages.Questions.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>問題の詳細</h1>

<div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h4>@Html.DisplayFor(modelItem => modelItem.Question.Title)</h4>
		</div>
		<div class="col-md-6 col-sm-12 btn-group btn-group-sm" role="group">
			<a asp-page="./Index" class="btn btn-secondary">一覧に戻る</a>
			<a asp-page="./Edit" asp-route-id="@Model.Question.QuestionID" class="btn btn-outline-success">編集</a>
			<a asp-page="./Reset" asp-route-id="@Model.Question.QuestionID" class="btn btn-outline-secondary">リセット</a>
			<a asp-page="./Delete" asp-route-id="@Model.Question.QuestionID" class="btn btn-outline-danger">削除</a>
			<a asp-page="./RedSheet" asp-route-id="@Model.Question.QuestionID" class="btn btn-danger">Red Sheet!</a>
		</div>
	</div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			進行度
		</dt>
		<dd class="col-sm-10">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: @($"{Math.Round(Model.QuestionSet.Progress * 100)}%");"
					 aria-valuenow="@(Math.Round(Model.QuestionSet.Progress * 100))" aria-valuemin="0" aria-valuemax="100">
					@($"{Math.Round(Model.QuestionSet.Progress * 100)}%")
				</div>
			</div>
		</dd>
		<dt class="col-sm-2">
			作成日
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Question.CreateDate)
		</dd>
		<dt class="col-sm-2">
			更新日
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Question.UpdateDate)
		</dd>
		<dt class="col-sm-2">
			内容
		</dt>
		<dd class="col-sm-10">
			@Html.Raw(Model.QString)
		</dd>
	</dl>
</div>

<script>
	$(document).on("click", ".keyword", function (e) {
		const option = $(this).parent().children(".redsheet-option");
		option.css("display", option.css("display") == "none" ? "block" : "none");
	});
</script>